@model OrgaTournoi.Models.Joueur

@{
    ViewData["Title"] = "Details";
    ViewData["lien"] = "/css/liste.css";
}

<div class="container-fluid gauche-droite">
    <div class="gauche text-center">
        <h2>@Model.Nom ' @Model.Pseudo ' @Model.Prenom <img src="@Model.Pays.Image" style="max-width:20px;"/></h2>
        <p>@Model.Age Ans</p>
        <img src="https://via.placeholder.com/150x250.png" style="width:150px; height:250px; text-align:center; margin:auto;" />
        <p>Cashprize Total : $ @Model.CashprizeTotal</p>
        <p class="text-start">@Model.Description</p>
    </div>

    <div class="droite">

    </div>
</div>
