@model OrgaTournoi.Models.Evenement

@{
    ViewData["Title"] = "Details";
    ViewData["lien"] = "/css/liste.css";
}

<div class="container-fluid gauche-droite">
    <div class="gauche text-center">
        <h2>@Model.Nom</h2>
        <h5>@Model.jeu.Nom</h5>
        <p>$@Model.Cashprize</p>
        <img src="@Model.Image" style="margin: 30px 0px;" />
        <p>@Model.DateDebut.ToString("dd/MM/yyyy") - @Model.DateFin.ToString("dd/MM/yyyy")</p>
        <p>@Model.Lieu - @Model.Pays.Nom <img src="@Model.Pays.Image" style=" max-width: 20px" /></p>
    </div>

    <div class="droite">

    </div>
</div>
