@model OrgaTournoi.Models.Equipe

@{
    ViewData["Title"] = "Details";
    ViewData["lien"] = "/css/liste.css";
}

<div class="container-fluid gauche-droite">
    <div class="gauche text-center">
        <h2>@Model.Nom <img src="@Model.Pays.Image" style="max-width:20px;" /></h2>
        <img src="@Model.Image" style="width:150px; height:150px; text-align:center; margin:auto;" />
        <p>Cashprize Total : $ @Model.CashpriceTotal</p>
        <p class="text-start">@Model.Description</p>
    </div>

    <div class="droite">
    </div>
</div>
